<%= form_with(model: task, class: "form-container", data: { controller: "task-form", action: "submit->task-form#validateOnSubmit" }) do |form| %>
  <div class="input-container">
    <%= form.text_field :description, placeholder: "Add new task", class: "input-field", 
        data: { 
            task_form_target: "input", 
            action: "input->task-form#hideError" 
        } 
    %>
    
    <% if task.errors.any? %>
      <div class="error-message">
        <%= task.errors.full_messages_for(:description).first %>
      </div>
    <% end %>
    
    <% btn_class = task.description.present? ? "btn btn-primary" : "btn btn-disabled" %>
    <%= form.submit "Save", class: btn_class, data: { task_form_target: "submitButton" } %>
  </div>
<% end %>